@tailwind base;
@tailwind components;
@tailwind utilities;

.cus-btn {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.cus-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #cc2973;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.cus-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.header .decoration-star-2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

@media (min-width: 767px) and (max-width: 1250px) {
  .book-des{
    height: 358px;
  }
}

@media(max-width: 430px){
  .display_text{
    display: none;
  }
  .blog_cover{
    height: 350px;
  }
}